<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sateñas el osito</title>
</head>

<body>
    <header>
        <h1>SATEÑERIA OSITO</h1>
        <p>
            "El Osito, el toque tierno en cada bocado. Nuestras salteñas son el resultado de una receta tradicional que combina cuidadosamente 
            los mejores ingredientes con el amor por la auténtica cocina boliviana. Cada salteña es como un abrazo de sabor, con un relleno jugoso 
            y sabroso envuelto en una masa suave y dorada. Desde el primer mordisco, te transportamos a las calles de Bolivia, donde cada esquina 
            tiene su propio aroma y sabor únicos. Con El Osito, cada comida se convierte en un momento para celebrar la tradición y disfrutar de 
            la calidez de la comida casera. Descubre la magia de nuestras salteñas y deja que El Osito sea tu compañero en cada aventura 
            culinaria".
        </p>
    </header>

    <article>
        QUIENES SOMOS?
    </article>

    <aside>
        NUESTRA HISTORIA..
    </aside>
    
    <footer>
        nuestras redes sociales
    </footer>
</body>
</html>