<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscaminas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <div class="container">
        <h1>Buscaminas</h1>
        <div id="tablero" class="tablero">
            <!-- Aquí se generará dinámicamente el tablero -->
        </div>
        <button id="reiniciarBtn">Reiniciar Juego</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
