<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal - Buscaminas</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}"> -->
</head>
<body>
    <div class="container">
        <h1>Buscaminas</h1>
        <div class="menu">
            <a href="{{ url_for('juego') }}">Jugar</a>
            <a href="{{ url_for('opciones') }}">Opciones</a>
        </div>
    </div>
</body>
</html>
